/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2016, 2:04:08 PM
    Author     : apprentice
*/
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}
div .well {
background-color: beige;
background-image: url("../img/wood.jpg");
opacity: 0.9;

font-family: 'Bungee', cursive;
color: white;
font-size: large;
padding: 5px;


}
.banner {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    padding: 0px;
    height: 100px;
    width: auto;
}
a {
    font-family: 'Bungee', cursive;
    color: #ba0022;
}
h2 {
    font-family: 'Bungee', cursive;
   
}
button {
    font-family: 'Bungee', cursive;
}
h4{
    font-family: 'Bungee', cursive;
}
hr.custom{
    height: 5px;
    background-image: url("../img/banner.jpg");
}
h1 {
    font-family: 'Bungee', cursive;
    font-weight: bolder;
}
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
  background: whitesmoke;
  padding-top: 50px;
  background-image: url("img/wood.jpg"); /* fallback */
  background-image: url("img/wood.jpg"), linear-gradient(beige, white); /* W3C */
  font-family: 'Inconsolata', monospace;
}
.navbar-custom {
  background-color: #ba0022;
  opacity: 0.90;
  border-color: #99001c;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ed002b), to(#ba0022));
  background-image: -webkit-linear-gradient(top, #ed002b, 0%, #ba0022, 100%);
  background-image: -moz-linear-gradient(top, #ed002b 0%, #ba0022 100%);
  background-image: linear-gradient(to bottom, #ed002b 0%, #ba0022 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffed002b', endColorstr='#ffba0022', GradientType=0);
  font-family: 'Bungee', cursive;
  height: 50px;
}

.navbar-custom .navbar-brand {
  color: #ffffff;
  padding: 0px;
}
.navbar-custom .navbar-brand>img{
     height: 100%;
  padding: 7px 15px;
  width: auto;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #99001c;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  font-size: larger;
  border-left: 1px solid #99001c;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  font-size: larger;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  font-size: larger;
  background-color: #99001c;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#99001c), to(#cc0025));
  background-image: -webkit-linear-gradient(top, #99001c, 0%, #cc0025, 100%);
  background-image: -moz-linear-gradient(top, #99001c 0%, #cc0025 100%);
  background-image: linear-gradient(to bottom, #99001c 0%, #cc0025 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff99001c', endColorstr='#ffcc0025', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #96001b;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #99001c;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #99001c;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}



/*************************
EXAMPLES 2-7 BELOW 
**************************/

/* EXAMPLE 2 (larger logo) - simply adjust top bottom padding to make logo larger */

.example2 .navbar-brand>img {
  padding: 7px 15px;
}
div{
    
    
}
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;
}
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[type="radio"]:checked ~ &,
  input[type="checkbox"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}